// LINK ICONES

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
@import "../variables";

body {
    background-color: #f5f5f5 !important;
    margin-left: 200px !important;
    margin-top: 60px !important;
    transition: .3s;
}

// MENU PRINCIPAL

#nav {
    display:  flex;
    position: fixed;
    flex-direction: column;
    font-size: 10pt;
    left: 0;
    top: 0;
    width: 60px;
    height: 100%;
    color: $white;
    background: $gray-nav;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: .3s;

    &::-webkit-scrollbar {
        width: 3px;
    }

    &::-webkit-scrollbar-thumb {
        background: $gray-scroll;
    }

    #head {
        padding: 18px 15px;
        border-bottom: 1px solid $dark-gray;

        h3 {
            font-size: 10pt;
            cursor: default;
        }
    }

    p {
        color: $white;
        font-size: 9pt;
        padding: 15px;
        font-weight: bolder;
        border-top: 1px solid $dark-gray;
        border-bottom: 1px solid $dark-gray;
        cursor: default;
    }

    a {
        color: $white;
        padding: 15px;
        font-weight: bold;
        text-decoration: none;

        &:hover {
            background: $gray-a;

            i {
                color: $white;
            }

            span {
                margin-top: 5px;
                color: $white;
            }

            &.disabled:hover {

                i, span {
                    color: $gray;
                }
            }
        }
    }

    .disabled {
        color: $gray;

        span {
            cursor: default;
        }

        &:hover {
            background: $gray-nav;
        }
    }

    i {
        margin-right: 8px;
        font-size: 11pt;
    }
}

// BOTÃO + USUARIO

#sub-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -60px;
    width: 100%;
    height: 60px;
    padding: 0px 20px;
    border-bottom: 1px solid $border;
    background: $gray-sub-nav;

    .hang-container {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        label {
            display: flex;
            flex-direction: column;
            width: 20px;
            height: 25px;
            cursor: pointer;
            transition: .3s;

            span {
                display: flex;
                position: absolute;
                width: 20px;
                height: 3px;
                border-radius: 3px;
                background: $black;

                &:nth-child(1) {
                    margin-top: 11px;
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    margin-top: 11px;
                    transform: rotate(-45deg);
                }
            }
        }

        img {
            margin-left: 20px;
            width: 25px;
            cursor: pointer;
        }
    }

    // CONFIGURAÇAÕ USUARIO SUB-MENU
    .user-container {
        &.active .exit {
            height: 40px;
        }

        &.active h3 .fa-caret-down {
            transform: rotate(180deg);
        }

        h3 {
            color: $black;
            cursor: pointer;
            font-size: 15pt;
            font-weight: normal;

            .fa-user {
                margin-right: 10px;

            }
            
            i {
                margin-left: 5px;
                transition: .2s;
            }
        }        

        .exit {
            display: flex;
            justify-content: center; 
            align-items: center;
            position: absolute;
            text-decoration: none;
            font-weight: bold;
            color: $black;
            right: 0px;
            top: 60px;
            width: 100px;
            height: 0px;
            overflow-y: hidden;
            transition: .2s;
            background: $gray-sub-nav;

            i {
                margin-right: 5px;
            }
        }
    }

}

// EFEITO CLICK MENU

body.active {
    margin-left: 60px !important;
}

body.active #nav {
    text-align: center;
    width: 200px;

    &::-webkit-scrollbar {
        width: 0px;
    }

    #head {
        display: none;
    }

    a {
        padding: 15px 0px;

        &:hover span {
            opacity: 1;
            margin-top: 5px;
        }
    }

    p {
        display: none;
    }

    i {
        font-size: 14pt;
        margin-right: 0;
    }

    span {
        display: block;
        font-size: 7pt;
        margin-top: -15px;
        opacity: 0;
        transition: .4s;
    }
}

body.active #sub-nav {
    label {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 18px;


        span:nth-child(1) {
            margin-top: -15px;
            transform: rotate(0deg);
        }

        span:nth-child(2) {
            opacity: 1;
            margin-top: -2px;
        }

        span:nth-child(3) {
            transform: rotate(0deg);
            margin-top: 10px;
        }
    }
}


// AJUSTE DE LAYOUT PARA RESPOSIVILIDADE
////////////////////////////////////////////////

@media screen and (max-width: 580px) {

    body {
        margin-left: 0px !important;

        &.active {
            margin-left: 0 !important;
        }
    }


    body.active #nav {
        text-align: left;
        width: 0px;
        transition: .2s;

        #head {
            display: flex;
            flex-direction: column;
        }

        a {
            display: flex;
            padding: 10px;
        }

        p {
            display: flex;
        }

        i {
            font-size: 8pt;
            margin-right: 5px;
        }

        span {
            display: block;
        }
    }

    body.active #sub-nav {
        label {
            left: 15px;
        }
    }

    #sub-nav {
        h4 {
            display: none;
        }

        label {
            position: absolute;
            left: 220px;
        }

        .hang-container {
            img {
                display: none;
            }
        }
    }
}