$dark: #2e2e2e; /*Background Menu*/

/* Messages */
$info: #3aadd9;
$success: #35ba9b;
$warning: #f5b945;
$error: #d94452;

/*Buttons*/

$delete: #dc3545;
$edit: #0d6efd;

/* From Nav file */
$white: #fff;
$black: #000;
$gray: #808080;
$orange: #ff6a00;

$gray-nav: #262626;
$gray-scroll: #646464;
$dark-gray: #3e3e3e;
$gray-sub-nav: #e6e5e3;

$gray-a: #1f1f1f;

$body: #f5f5f5;

$border: #cccccc;