$msgInfo: #3aadd9;
$msgSuccess: #35ba9b;
$msgWarning: #f5b945;
$msgError: #d94452;

.trigger {
    padding: 15px;
    border: 1px solid #666;
    border-radius: 6px;
}

.info {
    background: rgba($color: #3aadd9, $alpha: 0.2);
    border: 1px solid #3aadd9;
}

.success {
    background: rgba($color: #35ba9d, $alpha: 0.2);
    border: 1px solid #35ba9d;
}

.warning {
    background: rgba($color: #f5b945, $alpha: 0.2);
    border: 1px solid #f5b945;
}

.error {
    background: rgba($color: #d94452, $alpha: 0.2);
    border: 1px solid #d94452;
}