@import "../variables";

body {
    background: #e8e8e8;
    margin-top: 60px;
}

#main {
    display: flex;
    flex-direction: column;
    background: #fff;
    margin: 20px auto;
    width: 95%;
    height: 100%;
    padding: 20px 30px;

    #buscar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        input[type=text] {
            width: 80%;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            padding: .375rem 0.75rem;
            font-size: 1rem;
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            // background: rgb(1, 194, 1);
            color: #fff;
            font-size: 12pt;
            border-radius: 0.25rem;
            width: 90px;
            height: 37px;
            text-decoration: none;

            i {
                margin-left: 5px;
            }
        }
    }
}

.table {
    margin: 0px;

    th {
        @media screen and (max-width: 580px) {
            &:nth-child(4) {
                display: none;
            }

            &:nth-child(5) {
                display: none;
            }
        }
    }

    td {
        @media screen and (max-width: 580px) {
            &:nth-child(4) {
                display: none;
            }

            &:nth-child(5) {
                display: none;
            }
        }

        &:nth-child(5) {
            .btn-primary {
                margin-right: 10px;
            }
            i {
                // padding: 8px;
                // font-size: 10pt;
                // border-radius: 0.25rem;

                // &:nth-child(1) {
                //     margin-right: 10px;

                // }

                // &:nth-child(2) {
                    
                // }
            }
        }
    }
}